.grid-container {
  margin: 20px;
}

.match-cards-container {
  display: flex;
  justify-content: space-between; /* Alineación de los botones de desplazamiento a los lados */
  align-items: center;
}

.matches-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los partidos se acomoden en varias líneas si es necesario */
  gap: 20px; /* Espacio entre los cards */
  justify-content: flex-start; /* Alinea los partidos desde la izquierda */
  margin-top: 20px; /* Separación superior */
  flex-grow: 1; /* Asegura que ocupe el espacio disponible */
}

.quarter-finals-container {
  display: flex;
  flex-wrap: wrap; /* Para permitir que los cards se acomoden de manera horizontal */
  gap: 20px; /* Espacio entre los cards */
  justify-content: flex-start; /* Alinea los cards desde la izquierda */
  margin-top: -35px; /* Separación superior */
  width: 100%; /* Ocupa todo el ancho disponible */
}

/* Estilo para cada card de partido */
.quarter-finals {
  width: 45%; /* Hace que cada card sea más pequeño */
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  z-index: 0;
  border: 2px solid #555;
  margin-top: 10px; /* Añadir espacio superior para separar los cards */
  box-sizing: border-box; /* Asegura que el padding no afecte al tamaño */
}

/* Hover sobre los cards */
.quarter-finals:hover {
  border: 2px solid #FEC82F;
}

/* Contenedor de un partido */
.match-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.guion{
  font-size: 35px;
}
.team-score{
  font-size: 1.5em;
  font-weight: bold;
}

/* Contenedor del equipo izquierdo y derecho */
.team-left, .team-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo de la imagen del equipo */
.team-image {
  width: 60px; /* Hacemos la imagen un poco más pequeña */
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Nombre del equipo */
.team-name {
  font-size: 14px; /* Tamaño de fuente reducido */
  font-weight: bold;
}

/* El "VS" en el centro */
.vs-container {
  display: flex;
  flex-direction: column; /* Alinear verticalmente el contenido */
  align-items: center;
  justify-content: center;
}

.vs-container p {
  margin-top: 10px;
}

.vs {
  font-size: 1rem; /* Ajustamos el tamaño del "VS" */
  font-weight: bold;
  color: black;
  margin: 0 20px;
  text-align: center;
  margin-top: 40px;
}

.vs-container button {
  margin-top: 10px;
  background-color: #2E2D2C; /* Color de fondo amarillo */
  color: white;
  border-color: #FEC82F;
  border: none;
  border-radius: 10px;
  border-color: #FEC82F; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de fuente */
  font-weight: bold; /* Texto en negrita */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  transition: background-color 0.3s, color 0.3s;
}

.vs-container button:hover {
  background-color: #e6b800; /* Color más oscuro al pasar el ratón */
}

.elapsed-time {
  
 
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 20px;
}

.quarter-finals-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0;
  color: #333;
}