<h2 mat-dialog-title>{{tituloAccion}} Usuario</h2>
<mat-dialog-content>
    <form [formGroup] ="userForm">
        <mat-grid-list cols="1" rowHeight="80px">
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name" autocomplete="off">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Apellido</mat-label>
                    <input matInput formControlName="lastName" autocomplete="off">
                </mat-form-field>

            </mat-grid-tile>
          </mat-grid-list>

    </form>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="warn">Volver</button>
  <button mat-raised-button color="primary" (click)="addUser()">{{botonAccion}}</button>
</mat-dialog-actions>