<div class="grid-container">
    <h1>Partidos Asignados</h1>
  
    <div class="tournaments-container">
      <mat-card class="tournament-card" *ngFor="let match of matchReferees">
        <!-- Sección izquierda -->
        <div class="team-section">
          <img src="assets/Logo_Team.png" alt="Logo Equipo 1" />
          <div class="team-name">{{ match.team1Name }}</div>
        </div>
  
        <!-- Sección central -->
        <div class="center-section">
          <div class="match-date">Fecha: {{ match.date | date: 'short' }}</div>
          <button mat-raised-button class="start-button" (click)="navigateToMatchDetails(match.matchId)">Iniciar</button>
        </div>
  
        <!-- Sección derecha -->
        <div class="team-section">
          <img src="assets/Logo_Team.png" alt="Logo Equipo 2" />
          <div class="team-name">{{ match.team2Name }}</div>
        </div>
      </mat-card>
    </div>
  
    <router-outlet></router-outlet>
  </div>