<div class="grid-container">
  <h1>Mi Equipo</h1>

  <div class="contenedor">
    
  <div class="left-section">
    

    <!-- Mostrar los nombres de los equipos si existen -->
    <mat-card *ngIf="teamNames.length > 0" class="team-card">
      <div class="team-info">
        <div class="card-header">
          <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
            <mat-icon>more_vert</mat-icon> <!-- Icono de tres puntos -->
          </button>
          
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon color="primary">edit</mat-icon> Editar
            </button>
            <button mat-menu-item (click)="deleteTeams()">
              <mat-icon color="warn">delete</mat-icon> Eliminar
            </button>
          </mat-menu>
        </div>
        <img class="team-logo" src="assets/Logo_Team.png" alt="Logo del Equipo" />
        <div *ngFor="let team of teamNames" class="team-details">
          <h2>{{ team }}</h2> <!-- Mostrar solo el nombre del equipo -->
        </div>
      </div>
    </mat-card>

    <!-- Mostrar el formulario si showForm es true -->
    <mat-card *ngIf="showForm && teamNames.length === 0" class="overlay-card">
      <app-coach-form (formClosed)="toggleForm()" (teamCreated)="onTeamCreated($event)" class="overlay"></app-coach-form>
    </mat-card>

    <!-- Mostrar el mensaje cuando no hay equipo -->
    <div class="no-team-container" *ngIf="!showForm && teamNames.length === 0">
      <p>Aún no tienes equipo</p>
      <button class="create-button" (click)="toggleForm()">
        <span class="material-icons">add</span> Crear
      </button>
    </div>
  </div>

  <!-- Sección derecha con la tabla de jugadores -->
  <div class="right-section">
    <mat-table *ngIf="players.length > 0" [dataSource]="players" class="mat-elevation-z8">
      <!-- ID del jugador -->
      <ng-container matColumnDef="playerId">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let player"> {{ player.playerId }} </mat-cell>
      </ng-container>

      <!-- Nombre -->
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let player"> {{ player.firstName }} </mat-cell>
      </ng-container>

      <!-- Apellido -->
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
        <mat-cell *matCellDef="let player"> {{ player.lastName }} </mat-cell>
      </ng-container>

      <!-- Posición -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> Posición </mat-header-cell>
        <mat-cell *matCellDef="let player"> {{ player.position }} </mat-cell>
      </ng-container>

      <!-- Acciones -->
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let player">
          <button mat-icon-button color="primary" (click)="navigateToPlayerDetail(player.playerId)">
            <mat-icon>account_circle</mat-icon> <!-- Ícono para ver perfil -->
          </button>
          <button mat-icon-button color="warn" >
            <mat-icon>remove_circle</mat-icon> <!-- Ícono para expulsar -->
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <!-- Mensaje en caso de que no haya jugadores -->
   
  </div>
</div>
</div>