<div class="login-container">
    <div class="login-card">
          <button mat-icon-button class="close-button" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
      <h2>Acceder a <span class="gold-text">Gold</span><span class="roger-text">Roger</span></h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput formControlName="email" placeholder="Ingrese su correo" type="email" required>
          <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
            El correo es obligatorio.
          </mat-error>
          <mat-error *ngIf="loginForm.controls['email'].hasError('email')">
            Correo no válido.
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" placeholder="Ingrese su contraseña" type="password" required minlength="6">
          <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
            La contraseña es obligatoria.
          </mat-error>
          <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">
            La contraseña debe tener al menos 6 caracteres.
          </mat-error>
        </mat-form-field>
  
        <button [disabled]="loginForm.invalid">Acceder</button>
      </form>
  
      <div class="register-prompt">
        ¿Aún no tienes cuenta?
        <a class="register-link" (click)="navigateToRegister()">Regístrate</a>
      </div>
    </div>
  </div>